fastapi
uvicorn
pydantic
sqlalchemy
pytest
pytest-cov
dotenv
httpx
pandas
numpy
scipy
scikit-learn
matplotlib
statsmodels
python-multipart
bcrypt
PyJWT
google-auth
requests
serpapi
boto3
psycopg2-binary